<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <h1>Password Expired</h1>
                                <p class="text-muted">The password for this account has expired. Please set a new
                                    Password.</p>
                                <hr />
                                <form name="form" class="col-lg-8 col-sm-12" (ngSubmit)="f.form.valid && onSubmit()"
                                    #f="ngForm" novalidate>
                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-lock"></i></span>
                                            </div>
                                            <input id="password" type="password" required minlength="8"
                                                class="form-control pp-validate pp-symbol pp-uppercase_1 pp-minimum_8"
                                                name="password" #password="ngModel"
                                                [(ngModel)]="userModifyModel.password" placeholder="Password"
                                                [ngClass]="{ 'is-invalid': f.submitted && password.invalid}" required>
                                        </div>
                                    </div>
                                    <div class="pp-feedback"></div>
                                    <div class="form-group">
                                        <label for="pwverify">Password Verification:</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-lock"></i></span>
                                            </div>
                                            <input id="pwVerify" name="pwVerify" type="password" required minlength="8"
                                                class="form-control" #pwVerify="ngModel"
                                                placeholder="Password Verification"
                                                [(ngModel)]="userModifyModel.pwVerify"
                                                [ngClass]="{ 'is-invalid': f.submitted && pwVerify.invalid}" required>
                                        </div>
                                    </div>
                                    <div *ngIf="pwVerify.invalid && (pwVerify.dirty || pwVerify.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="pwVerify.errors.required">
                                            Verification is required.
                                        </div>
                                    </div>
                                    <div *ngIf=" userModifyModel.pwVerify != userModifyModel.password && (pwVerify.dirty || pwVerify.touched)"
                                        class="alert alert-danger" required>
                                        Password and verification do not match.
                                    </div>
                                    <div *ngIf="password.invalid && pwVerify.invalid && (pwVerify.dirty || pwVerify.touched)"
                                        class="alert alert-danger" required>
                                        Password is of insufficent complexity.
                                    </div>
                                    <div *ngIf="pwVerify.valid && userModifyModel.pwVerify === userModifyModel.password && (pwVerify.dirty || pwVerify.touched)"
                                        class="alert alert-success">
                                        Password and Verifications Match & Sufficient Complexity.
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <button class="btn btn-primary px-4">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>